/* ************************************* 
    import Fonts
************************************** */
@font-face {
    font-family: 'Acme';
    src: url('/fonts-GI/Acme-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aldrich';
    src: url('/fonts-GI/Aldrich-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Amita';
    src: url('/fonts-GI/Amita-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Amita-Bold';
    src: url('/fonts-GI/Amita-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AzeretMono';
    src: url('/fonts-GI/AzeretMono-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AzeretMono-Italic';
    src: url('/fonts-GI/AzeretMono-Italic-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'BeauRivage';
    src: url('/fonts-GI/BeauRivage-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BethEllen';
    src: url('/fonts-GI/BethEllen-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BubblerOne-Regular';
    src: url('/fonts-GI/BubblerOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
.Acme {
    font-family: 'Acme';
}
.Aldrich {
    font-family: 'Aldrich';
}
.Amita {
    font-family: 'Amita';
}
.Amita-Bold {
    font-family: 'Amita-Bold';
}
.AzeretMono {
    font-family: 'AzeretMono';
}
.AzeretMono-Italic {
    font-family: 'AzeretMono-Italic';
}
.BeauRivage {
    font-family: 'BeauRivage';
}
.BethEllen {
    font-family: 'BethEllen';
}
.BubblerOne {
    font-family: 'BubblerOne-Regular';
}
/* ************************************* 
    import Fonts
************************************** */

/************************************
    Body
************************************/

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    /*the following path is taken if the user sisn't have the first font then to the font.*/
}
h1 {
 /*if its has a width use the following code to center it.*/
    margin: 0;
    line-height: 1;
    font-family: 'Plat';
}
h2 {
    font-family:"monofor";
    line-height: 1;
    font-size: 2rem;
}

/************************************
    Main
************************************/

.picture__background {
    position: fixed;
    background-image: url('/images/NIG.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50%;
}
.product-img {
    position: relative;
    left: 30px;
    width: 90%;
    height: 100%;
    border-radius: 20px;
}
.colorIE {
    color: #B3B5BB;
    font-size: 1.5rem;
    font-weight: bold;
    transition-duration: 0.4s;
}
.colorIE:hover {
    color: #67889b;
    cursor: pointer;
    transition-duration: 0.4s;
}
.colorIE:active {
    color: #67889b;
    cursor: pointer;
    transition-duration: 0.4s;
}
.search__ {
    background-color: transparent;
    border-radius: 300px;
}
